#기존 접근 방식과 머신 러닝 접근 방식 비교

In [ ]:
def f (x) :
	return 3*x + 1
 
x = 10
y = f(x)
 
print('y:', y)

y: 31

In [ ]:
import tensorflow as tf
import numpy as np

xs = np.array([-1.0, 0.0, 1.0, 2.0, 3.0, 4.0])
ys = np.array([-2.0, 1.0, 4.0, 7.0, 10., 13.])

model = tf.keras.Sequential(
    [
     tf.keras.Input(shape=(1,)),
     tf.keras.layers.Dense(1)
    ]
)

model.compile(optimizer='sgd', 
              loss='mean_squared_error')

model.fit(xs, ys, epochs=5)

p = model.predict([10.0])

print('p:', p)

Epoch 1/5
1/1 [==============================] - 1s 550ms/step - loss: 67.8695
Epoch 2/5
1/1 [==============================] - 0s 9ms/step - loss: 53.3969
Epoch 3/5
1/1 [==============================] - 0s 8ms/step - loss: 42.0105
Epoch 4/5
1/1 [==============================] - 0s 8ms/step - loss: 33.0523
Epoch 5/5
1/1 [==============================] - 0s 5ms/step - loss: 26.0044
p: [[12.172164]]

# 쥬피터 노트북 리눅스 명령

In [ ]:
# OS
!cat /etc/issue.net

Ubuntu 18.04.5 LTS

In [ ]:
# CPU 사양
!head /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0

In [ ]:
# 메모리 사양
!head -n 3 /proc/meminfo

MemTotal:       13298580 kB
MemFree:        10723028 kB
MemAvailable:   12456240 kB

In [ ]:
# 디스크 사양
!df -h

Filesystem      Size  Used Avail Use% Mounted on
overlay         108G   39G   70G  36% /
tmpfs            64M     0   64M   0% /dev
shm             5.8G     0  5.8G   0% /dev/shm
/dev/root       2.0G  1.2G  812M  59% /sbin/docker-init
tmpfs           6.4G   36K  6.4G   1% /var/colab
/dev/sda1        81G   43G   39G  53% /etc/hosts
tmpfs           6.4G     0  6.4G   0% /proc/acpi
tmpfs           6.4G     0  6.4G   0% /proc/scsi
tmpfs           6.4G     0  6.4G   0% /sys/firmware

In [ ]:
!python --version

Python 3.7.13

In [ ]:
import tensorflow as tf

print(tf.__version__)

2.8.2

In [ ]:
!git clone https://github.com/looker2zip/bigStudy

Cloning into 'bigStudy'...
remote: Enumerating objects: 122, done.
remote: Counting objects: 100% (41/41), done.
remote: Compressing objects: 100% (41/41), done.
remote: Total 122 (delta 10), reused 0 (delta 0), pack-reused 81
Receiving objects: 100% (122/122), 25.23 MiB | 26.52 MiB/s, done.
Resolving deltas: 100% (26/26), done.

#파이썬 기초

##파이썬 코드 작성과 실행

In [ ]:
4 + 5

9

In [ ]:
print("I'm excited to learn Python.")

I'm excited to learn Python.

In [ ]:
#!/usr/bin/env python3
print("Output #1: I'm excited to learn Python.")

Output #1: I'm excited to learn Python.

In [ ]:
x=4
y=5
z=x+y
print("Output #2: Four plus five equals {0:d}.".format(z))

Output #2: Four plus five equals 9.

In [ ]:
a = [1, 2, 3, 4]
b = ["first", "second", "third", "fourth"]
c=a+b
print("Output #3: {0}, {1}, {2}".format(a, b, c))

Output #3: [1, 2, 3, 4], ['first', 'second', 'third', 'fourth'], [1, 2, 3, 4, 'first', 'second', 'third', 'fourth']

In [ ]:
print("Output #3: ",a,", ",b,", ",c)

Output #3:  [1, 2, 3, 4] ,  ['first', 'second', 'third', 'fourth'] ,  [1, 2, 3, 4, 'first', 'second', 'third', 'fourth']

##파이썬 기본 구성 요소

###숫자

In [ ]:
x=9
print("Output #4: {0}".format(x))
print("Output #5: {0}".format(3**4))
print("Output #6: {0}".format(int(8.3)/int(2.7)))

Output #4: 9
Output #5: 81
Output #6: 4.0

In [ ]:
print("Output #7: {0:.3f}".format(8.3/2.7))
y = 2.5*4.8
print("Output #8: {0:.1f}".format(y))
r = 8/float(3)
print("Output #9: {0:.2f}".format(r))
print("Output #10: {0:.4f}".format(8.0/3))

Output #7: 3.074
Output #8: 12.0
Output #9: 2.67
Output #10: 2.6667

###문자열

In [ ]:
print("Output #14: {0:s}".format('I\'m enjoying learning Python.'))
print("Output #15: {0:s}".format("This is a long string. Without the backslash"\
+ "it would run off of the page on the right in the text editor and be very"\
+ "difficult to read and edit. By using the backslash you can split the long"\
+ "string into smaller strings on separate lines so that the whole string is easy"\
+ "to view in the text editor."))
print("Output #16: {0:s}".format('''You can use triple single quotes for 
multi-line comment strings.'''))
print("Output #17: {0:s}".format("""You can also use triple double quotes 
for multi-line comment strings."""))

Output #14: I'm enjoying learning Python.
Output #15: This is a long string. Without the backslashit would run off of the page on the right in the text editor and be verydifficult to read and edit. By using the backslash you can split the longstring into smaller strings on separate lines so that the whole string is easyto view in the text editor.
Output #16: You can use triple single quotes for
multi-line comment strings.
Output #17: You can also use triple double quotes
for multi-line comment strings.

In [ ]:
string1 = "This is a "
string2 = "short string."
sentence = string1 + string2
print("Output #18: {0:s}".format(sentence))
print("Output #19: {0:s} {1:s}{2:s}".format("She is", "very "*4, "beautiful."))
m = len(sentence)
print("Output #20: {0:d}".format(m))

Output #18: This is a short string.
Output #19: She is very very very very beautiful.
Output #20: 23

###문자열 함수

####split

In [ ]:
string1 = "My deliverable is due in May"
string1_list1 = string1.split()
string1_list2 = string1.split(" ",2)
print("Output #21: {0}".format(string1_list1))
print("Output #22: FIRST PIECE:{0} SECOND PIECE:{1} THIRD PIECE:{2}".format(string1_list2[0], string1_list2[1], string1_list2[2]))

string2 = "Your,deliverable,is,due,in,June"
string2_list = string2.split(',')
print("Output #23: {0}".format(string2_list))
print("Output #24: {0} {1} {2}".format(string2_list[1], string2_list[5], string2_list[-1]))

Output #21: ['My', 'deliverable', 'is', 'due', 'in', 'May']
Output #22: FIRST PIECE:My SECOND PIECE:deliverable THIRD PIECE:is due in May
Output #23: ['Your', 'deliverable', 'is', 'due', 'in', 'June']
Output #24: deliverable June June

####join

In [ ]:
print("Output #25: {0}".format(','.join(string2_list)))

Output #25: Your,deliverable,is,due,in,June

####strip

In [ ]:
string3 = " Remove  unwanted characters   from this string.\t\t   \n"
print("Output #26: string3: {0:s}".format(string3))
string3_lstrip = string3.lstrip()
print("Output #27: lstrip: {0:s}".format(string3_lstrip))
string3_rstrip = string3.rstrip()
print("Output #28: rstrip: {0:s}".format(string3_rstrip))
string3_strip = string3.strip()
print("Output #29: strip: {0:s}".format(string3_strip))

Output #26: string3:  Remove  unwanted characters   from this string.

Output #27: lstrip: Remove  unwanted characters   from this string.

Output #28: rstrip:  Remove  unwanted characters   from this string.
Output #29: strip: Remove  unwanted characters   from this string.

In [ ]:
string4 = "$$Here's another string that has unwanted characters.__---++"
print("Output #30: {0:s}".format(string4))
string4 = "$$The unwanted characters have been removed.__---++"
string4_strip = string4.strip('$_-+')
print("Output #31: {0:s}".format(string4_strip))

Output #30: $$Here's another string that has unwanted characters.__---++
Output #31: The unwanted characters have been removed.

####replace

In [ ]:
string5 = "Let's replace the spaces in this sentence with other characters."
string5_replace = string5.replace(" ", "!@!")
print("Output #32 (with !@!): {0:s}".format(string5_replace))
string5_replace = string5.replace(" ", ",")
print("Output #33 (with commas): {0:s}".format(string5_replace))

Output #32 (with !@!): Let's!@!replace!@!the!@!spaces!@!in!@!this!@!sentence!@!with!@!other!@!characters.
Output #33 (with commas): Let's,replace,the,spaces,in,this,sentence,with,other,characters.

####lower, upper, capitalize

In [ ]:
string6 = "Here's WHAT Happens WHEN You Use lower."
print("Output #34: {0:s}".format(string6.lower()))
string7 = "Here's what Happens when You Use UPPER."
print("Output #35: {0:s}".format(string7.upper()))
string8 = "here's WHAT Happens WHEN you use Capitalize."
print("Output #36: {0:s}".format(string8.capitalize()))
string8_list = string8.split()
print("Output #37 (on each word):")
for word in string8_list:
  print("{0:s}".format(word.capitalize()))

Output #34: here's what happens when you use lower.
Output #35: HERE'S WHAT HAPPENS WHEN YOU USE UPPER.
Output #36: Here's what happens when you use capitalize.
Output #37 (on each word):
Here's
What
Happens
When
You
Use
Capitalize.

###정규식

In [ ]:
#!/usr/bin/env python3
from math import exp, log, sqrt 
import re

#####문자열 내 등장하는 패턴의 횟수 세기

In [ ]:
string = "The quick brown fox jumps over the lazy dog."
string_list = string.split()
pattern = re.compile(r"The", re.I)
count = 0
for word in string_list:
  if pattern.search(word):
    count += 1
print("Output #38: {0:d}".format(count))

Output #38: 2

#### 문자열 내에서 발견된 패턴  출력하기

In [ ]:
string = "The quick brown fox jumps over the lazy dog."
string_list = string.split()
pattern = re.compile(r"(?P<match_word>The)", re.I)
print("Output #39:")
for word in string_list:
  if pattern.search(word):
    print("{:s}".format(pattern.search(word).group('match_word')))

Output #39:
The
the

###Dates

In [ ]:
#!/usr/bin/env python3
from math import exp, log, sqrt
import re
from datetime import date, time, datetime, timedelta

####date 객체와  datetime 객체 간 차이
'
오늘 날짜와 년, 월, 일 요소 출력
'

In [ ]:
today = date.today()
print("Output #41: today: {0!s}".format(today))
print("Output #42: {0!s}".format(today.year))
print("Output #43: {0!s}".format(today.month))
print("Output #44: {0!s}".format(today.day))
current_datetime = datetime.today()
print("Output #45: {0!s}".format(current_datetime))

Output #41: today: 2022-06-16
Output #42: 2022
Output #43: 6
Output #44: 16
Output #45: 2022-06-16 08:21:01.984063

####timedelta 함수를 사용하여 날짜 객체에 특정 시간을 더하거나 빼는 방법

In [ ]:
one_day = timedelta(days=-1)
yesterday = today + one_day
print("Output #46: yesterday: {0!s}".format(yesterday))
eight_hours = timedelta(hours=-8)
print("Output #47: {0!s} {1!s}".format(eight_hours.days, eight_hours.seconds))

Output #46: yesterday: 2022-06-15
Output #47: -1 57600

####strftime 함수를 사용하여 날짜 개체에서 특정 형식의 문자열

In [ ]:
print("Output #50: {:s}".format(today.strftime('%m/%d/%Y')))
print("Output #51: {:s}".format(today.strftime('%b %d, %Y')))
print("Output #52: {:s}".format(today.strftime('%Y-%m-%d')))
print("Output #53: {:s}".format(today.strftime('%B %d, %Y')))

Output #50: 06/16/2022
Output #51: Jun 16, 2022
Output #52: 2022-06-16
Output #53: June 16, 2022

In [ ]:
# 날짜를 나타내는 문자열에서 # 특정 형식의 datetime 객체 생성
date1 = today.strftime('%m/%d/%Y')
date2 = today.strftime('%b %d, %Y')
date3 = today.strftime('%Y-%m-%d')
date4 = today.strftime('%B %d, %Y')
# 두 개의 datetime 객체와 두 개의 날짜 객체
# 날짜 형식이 다른 4개의 문자열 기반
print("Output #54: {!s}".format(datetime.strptime(date1, '%m/%d/%Y')))
print("Output #55: {!s}".format(datetime.strptime(date2, '%b %d, %Y')))
# 날짜 부분만 표시
print("Output #56: {!s}".format(datetime.date(datetime.strptime(date3, '%Y-%m-%d'))))
print("Output #57: {!s}".format(datetime.date(datetime.strptime(date4, '%B %d, %Y'))))

Output #54: 2022-06-16 00:00:00
Output #55: 2022-06-16 00:00:00
Output #56: 2022-06-16
Output #57: 2022-06-16

###list

In [ ]:
a_list = [1, 2, 3]
print("Output #58: {}".format(a_list))
print("Output #59: a_list has {} elements.".format(len(a_list)))
print("Output #60: the maximum value in a_list is {}.".format(max(a_list)))
print("Output #61: the minimum value in a_list is {}.".format(min(a_list)))
another_list = ['printer', 5, ['star', 'circle', 9]]
print("Output #62: {}".format(another_list))
print("Output #63: another_list also has {} elements.".format(len(another_list)))
print("Output #64: 5 is in another_list {} time.".format(another_list.count(5)))

Output #58: [1, 2, 3]
Output #59: a_list has 3 elements.
Output #60: the maximum value in a_list is 3.
Output #61: the minimum value in a_list is 1.
Output #62: ['printer', 5, ['star', 'circle', 9]]
Output #63: another_list also has 3 elements.
Output #64: 5 is in another_list 1 time.

####인덱스 값을 사용하여 목록의 특정 요소에 액세스

In [ ]:
print("Output #65: {}".format(a_list[0]))
print("Output #66: {}".format(a_list[1]))
print("Output #67: {}".format(a_list[2]))
print("Output #68: {}".format(a_list[-1]))
print("Output #69: {}".format(a_list[-2]))
print("Output #70: {}".format(a_list[-3]))
print("Output #71: {}".format(another_list[2]))
print("Output #72: {}".format(another_list[-1]))

Output #65: 1
Output #66: 2
Output #67: 3
Output #68: 3
Output #69: 2
Output #70: 1
Output #71: ['star', 'circle', 9]
Output #72: ['star', 'circle', 9]

####List slices

In [ ]:
print("Output #73: {}".format(a_list[0:2]))
print("Output #74: {}".format(another_list[:2]))
print("Output #75: {}".format(a_list[1:3]))
print("Output #76: {}".format(another_list[1:]))

Output #73: [1, 2]
Output #74: ['printer', 5]
Output #75: [2, 3]
Output #76: [5, ['star', 'circle', 9]]

####[:] 사용하여 list 복사

In [ ]:
a_new_list = a_list[:]
print("Output #77: {}".format(a_new_list))

Output #77: [1, 2, 3]

####+를 사용하여 두 개 이상의 목록을 함께 추가

In [ ]:
a_longer_list = a_list + another_list
print("Output #78: {}".format(a_longer_list))

Output #78: [1, 2, 3, 'printer', 5, ['star', 'circle', 9]]

####특정 요소가 목록에 있는지 여부를 확인하려면 in 및 not in을 사용

In [ ]:
a = 2 in a_list
print("Output #79: {}".format(a))
if 2 in a_list:
  print("Output #80: 2 is in {}.".format(a_list))
b = 6 not in a_list
print("Output #81: {}".format(b))
if 6 not in a_list:
  print("Output #82: 6 is not in {}.".format(a_list))

Output #79: True
Output #80: 2 is in [1, 2, 3].
Output #81: True
Output #82: 6 is not in [1, 2, 3].

####append, remove, pop

In [ ]:
a_list.append(4)
a_list.append(5)
a_list.append(6)
print("Output #83: {}".format(a_list))
a_list.remove(5)
print("Output #84: {}".format(a_list))
a_list.pop()
a_list.pop()
print("Output #85: {}".format(a_list))

Output #83: [1, 2, 3, 4, 5, 6]
Output #84: [1, 2, 3, 4, 6]
Output #85: [1, 2, 3]

####reverse

In [ ]:
a_list.reverse()
print("Output #86: {}".format(a_list))
a_list.reverse()
print("Output #87: {}".format(a_list))

Output #86: [3, 2, 1]
Output #87: [1, 2, 3]

####sort

In [ ]:
unordered_list = [3, 5, 1, 7, 2, 8, 4, 9, 0, 6]
print("Output #88: {}".format(unordered_list))
list_copy = unordered_list[:]
list_copy.sort()
print("Output #89: {}".format(list_copy))
print("Output #90: {}".format(unordered_list))

Output #88: [3, 5, 1, 7, 2, 8, 4, 9, 0, 6]
Output #89: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Output #90: [3, 5, 1, 7, 2, 8, 4, 9, 0, 6]

###Tuples

In [ ]:
my_tuple = ('x', 'y', 'z')
print("Output #93: {}".format(my_tuple))
print("Output #94: my_tuple has {} elements".format(len(my_tuple)))
print("Output #95: {}".format(my_tuple[1]))
longer_tuple = my_tuple + my_tuple
print("Output #96: {}".format(longer_tuple))

Output #93: ('x', 'y', 'z')
Output #94: my_tuple has 3 elements
Output #95: y
Output #96: ('x', 'y', 'z', 'x', 'y', 'z')

####Unpack tuples

In [ ]:
one, two, three = my_tuple
print("Output #97: {0} {1} {2}".format(one, two, three))
var1 = 'red'
var2 = 'robin'
print("Output #98: {} {}".format(var1, var2))
# 변수 var1, var2 = var2, var1 간의 값 교환
var1, var2 = var2, var1
print("Output #99: {} {}".format(var1, var2))

Output #97: x y z
Output #98: red robin
Output #99: robin red

####튜플을 목록으로 변환(또는 그 반대로)

In [ ]:
my_list = [1, 2, 3]
my_tuple = ('x', 'y', 'z')
print("Output #100: {}".format(tuple(my_list)))
print("Output #101: {}".format(list(my_tuple)))

Output #100: (1, 2, 3)
Output #101: ['x', 'y', 'z']

###Dictionaries

####dictionary 생성

In [ ]:
empty_dict = { }
a_dict = {'one':1, 'two':2, 'three':3}
print("Output #102: {}".format(a_dict))
print("Output #103: a_dict has {!s} elements".format(len(a_dict)))
another_dict = {'x':'printer', 'y':5, 'z':['star', 'circle', 9]}
print("Output #104: {}".format(another_dict))
print("Output #105: another_dict also has {!s} elements".format(len(another_dict)))

Output #102: {'one': 1, 'two': 2, 'three': 3}
Output #103: a_dict has 3 elements
Output #104: {'x': 'printer', 'y': 5, 'z': ['star', 'circle', 9]}
Output #105: another_dict also has 3 elements

####Dictionarie-dictionary 내 값 접근

In [ ]:
print("Output #106: {}".format(a_dict['two']))
print("Output #107: {}".format(another_dict['z']))

Output #106: 2
Output #107: ['star', 'circle', 9]

####copy

In [ ]:
a_new_dict = a_dict.copy()
print("Output #108: {}".format(a_new_dict))

Output #108: {'one': 1, 'two': 2, 'three': 3}

####keys, values, and items

In [ ]:
print("Output #109: {}".format(a_dict.keys()))
a_dict_keys = a_dict.keys()
print("Output #110: {}".format(a_dict_keys))
print("Output #111: {}".format(a_dict.values()))
print("Output #112: {}".format(a_dict.items()))

Output #109: dict_keys(['one', 'two', 'three'])
Output #110: dict_keys(['one', 'two', 'three'])
Output #111: dict_values([1, 2, 3])
Output #112: dict_items([('one', 1), ('two', 2), ('three', 3)])

####in, not in, and get

In [ ]:
if 'y' in another_dict:
  print("Output #114: y is a key in another_dict: {}.".format(another_dict.keys()))
if 'c' not in another_dict:
  print("Output #115: c is not a key in another_dict: {}.".format(another_dict.keys()))
print("Output #116: {!s}".format(a_dict.get('three')))
print("Output #117: {!s}".format(a_dict.get('four')))
print("Output #118: {!s}".format(a_dict.get('four', 'Not in dict')))

Output #114: y is a key in another_dict: dict_keys(['x', 'y', 'z']).
Output #115: c is not a key in another_dict: dict_keys(['x', 'y', 'z']).
Output #116: 3
Output #117: None
Output #118: Not in dict

###Control Flow

####if-else

In [ ]:
x=5
if x > 4 or x != 9:
  print("Output #124: {}".format(x)) 
else:
  print("Output #124: x is not greater than 4")

Output #124: 5

####if-elif-else

In [ ]:
if x > 6:
  print("Output #125: x is greater than six")
elif x > 4 and x == 5:
  print("Output #125: {}".format(x*x))
else:
  print("Output #125: x is not greater than 4")

Output #125: x is greater than six

####Quizzes

In [ ]:
# 숫자 맞추기 연습

print("숫자게임에 오신 것을 환영합니다.")
number = 62
s = input("1부터 100 사이의 숫자를 추측해보세요: ")
guess = int(s)
if guess == number:
    print("맞았습니다.")
else:
    print("틀렸습니다.")
print("게임이 종료되었습니다.")

숫자게임에 오신 것을 환영합니다.
1부터 100 사이의 숫자를 추측해보세요: 62
맞았습니다.
게임이 종료되었습니다.

####for loops

In [ ]:
y = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
z = ['Annie', 'Betty', 'Claire', 'Daphne', 'Ellie', 'Franchesca', 'Greta', 'Holly', 'Isabel', 'Jenny']
print("Output #126:")
for month in y:
  print("{!s}".format(month))
print("Output #127: (index value: name in list)")
for i in range(len(z)):
  print("{0!s}: {1:s}".format(i, z[i]))
print("Output #128: (access elements in y with z's index values)")
for j in range(len(z)):
  if y[j].startswith('J'):
    print("{!s}".format(y[j]))
print("Output #129:")
for key, value in another_dict.items():
  print("{0:s}, {1}".format(key, value))

Output #126:
Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec
Output #127: (index value: name in list)
0: Annie
1: Betty
2: Claire
3: Daphne
4: Ellie
5: Franchesca
6: Greta
7: Holly
8: Isabel
9: Jenny
Output #128: (access elements in y with z's index values)
Jan
Jun
Jul
Output #129:
x, printer
y, 5
z, ['star', 'circle', 9]

###while loops

In [ ]:
print("Output #134:")
x=0
while x < 11:
  print("{!s}".format(x))
  x += 1

Output #134:
0
1
2
3
4
5
6
7
8
9
10

In [ ]:
import random

tries = 0
number = random.randint(1, 100)

print("1부터 100 사이의 숫자를 맞추시오")

while tries < 10:
    guess = int(input("숫자를 입력하시오: "))
    tries = tries + 1
    if guess < number:
        print("낮음!")
    elif guess > number:
        print("높음!")
    else:
        break

if guess == number:
     print("축하합니다. 시도횟수=", tries)
else:
     print("정답은 ", number)

1부터 100 사이의 숫자를 맞추시오
숫자를 입력하시오: 65
높음!
숫자를 입력하시오: 50
높음!
숫자를 입력하시오: 40
높음!
숫자를 입력하시오: 30
높음!
숫자를 입력하시오: 20
높음!
숫자를 입력하시오: 10
축하합니다. 시도횟수= 6

####try-except

In [ ]:
def getMean(numericValues):
  return sum(numericValues)/len(numericValues)
  
my_list2 = [ ]

try:
  print("Output #138: {}".format(getMean(my_list2)))
except ZeroDivisionError as detail:
  print("Output #138 (Error): {}".format(float('nan')))
  print("Output #138 (Error): {}".format(detail))

Output #138 (Error): nan
Output #138 (Error): division by zero

# 파이썬 함수

##숫자 값 시퀀스의 평균 계산

In [ ]:
def getMean(numericValues):
  return sum(numericValues)/len(numericValues) if len(numericValues) > 0 else float('nan')
my_list = [2, 2, 4, 4, 6, 6, 8, 8]
print("Output #135 (mean): {!s}".format(getMean(my_list)))

Output #135 (mean): 5.0

In [ ]:
import numpy as np
print("Output #136 (mean):{!s}".format(np.mean(my_list)))

Output #136 (mean):5.0

## 파이썬 함수 종류

In [ ]:
def Sum1(a,b):
  return a*b

In [ ]:
Sum1(10,10)

100

In [ ]:
Sum2=lambda a,b:a+b

In [ ]:
Sum2(3,4)

7

##입력이 여러 개인 함수

In [ ]:
def add(x, y):
    return x + y

In [ ]:
add(1, 2)

3

In [ ]:
def sum(a, b, c):
    s = a + b + c
    return s

In [ ]:
sum(1, 2, 3)

6

### 지역 변수

In [ ]:
def sub():
	s = "바나나가 좋음!"
	print(s)

sub()

바나나가 좋음!

전역 변수

In [ ]:
def sub():
	print(s)

s = "사과가 좋음!"
sub()

사과가 좋음!

지역변수와 전역변수

In [ ]:
def sub():
	s = "바나나가 좋음!"
	print(s)

s = "사과가 좋음!"
sub()
print(s)

바나나가 좋음!
사과가 좋음!

## 값에 의한 호출

In [ ]:
def modify1(s):
	s += "To You"

msg = "Happy Birthday"
print("msg=", msg)
modify1(msg)
print("msg=", msg)

msg= Happy Birthday
msg= Happy Birthday

## 참조에 의한 호출

In [ ]:
def modify2(li):
    li += [100, 200]

list = [1, 2, 3, 4, 5]
print(list)
modify2(list)
print(list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 100, 200]

## Quiz

In [ ]:
class FourCal:
	def setdata(self, first, second):
		self.first = first
		self.second = second
	def add(self):
		result = self.first + self.second
		return result
	def mul(self):
		result = self.first * self.second
		return result
	def sub(self):
		result = self.first - self.second
		return result
	def div(self):
		result = self.first / self.second
		return result

In [ ]:
a = FourCal()
b = FourCal()
a.setdata(4, 2)
b.setdata(3, 8)

In [ ]:
print(a.add())
print(a.mul())
print(a.sub())
print(a.div())
print(b.add())
print(b.mul())
print(b.sub())
print(b.div())

6
8
2
2.0
11
24
-5
0.375

## 함수 작성 예

In [ ]:
50
def readList():
	nlist = []
	flag = True;
	while flag :
		number = int(input("숫자를 입력하시오: "))
		if number < 0:
			flag = False
		else :
			nlist.append(number)
	return nlist

def processList(nlist):
	nlist.sort()
	return nlist


def printList(nlist):
	for i in nlist:
		print("성적=", i)

def main():
	nlist = readList()
	processList(nlist)
	printList(nlist)

if __name__ == "__main__":
	main()

숫자를 입력하시오: 20
숫자를 입력하시오: 30
숫자를 입력하시오: 40
숫자를 입력하시오: -1
성적= 20
성적= 30
성적= 40

###Exceptions

# 모듈

## 모듈 import

In [ ]:
import math
math.pow(2, 10)

1024.0

In [ ]:
math.pi

3.141592653589793

In [ ]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

# 수학 모듈

In [ ]:
import math
math.floor(3.14)

3

# 분수 모듈

In [ ]:
import fractions

fractions.Fraction(4, 16)

Fraction(1, 4)

In [ ]:
import fractions

fractions.gcd(120, 180)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: fractions.gcd() is deprecated. Use math.gcd() instead.
  This is separate from the ipykernel package so we can avoid doing imports until

60

# 랜덤 모듈

In [ ]:
import random

random.random()

0.3344190307697521

In [ ]:
random.uniform(3,4)

3.1828964007379397

In [ ]:
[
 random.randrange(20) for i in range(10)
]

[14, 1, 12, 4, 13, 7, 4, 4, 8, 0]

In [ ]:
L1=list(range(10))
L1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

가위 바위 보 게임

In [ ]:
import random;

player = input("(가위, 바위, 보) 중에서 하나를 선택하세요: ");

number = random.randint(0,2);
if (number == 0):
    computer = "가위";
elif (number == 1):
    computer = "바위";
else:
    computer = "보";
print("사용자: ", player, "컴퓨터: ", computer)

if (player == computer):
    print("비겼음!");
elif (player == "바위"):
    if (computer == "보"):
        print("컴퓨터가 이겼음!");
    else:
        print("사용자가 이겼음!");
elif (player == "보"):
    if (computer == "비위"):
        print("사용자가 이겼음!");
    else:
        print("컴퓨터가 이겼음!");
elif (player == "가위"):
    if (computer == "바위"):
        print("컴퓨터가 이겼음!");
    else:
        print("사용자가 이겼음!");

(가위, 바위, 보) 중에서 하나를 선택하세요: 가위
사용자:  가위 컴퓨터:  가위
비겼음!

# 타임 모듈

In [1]:
import time

time.time()

1655507619.0745256

In [ ]:
time.gmtime()

time.struct_time(tm_year=2021, tm_mon=2, tm_mday=24, tm_hour=14, tm_min=51, tm_sec=39, tm_wday=2, tm_yday=55, tm_isdst=0)

In [2]:
time.localtime()

time.struct_time(tm_year=2022, tm_mon=6, tm_mday=17, tm_hour=23, tm_min=14, tm_sec=44, tm_wday=4, tm_yday=168, tm_isdst=0)

In [3]:
import datetime

datetime.date.today()

datetime.date(2022, 6, 17)

In [4]:
day=datetime.date.today()

print(day.month)
print(day.max)

6
9999-12-31

In [5]:
datetime.datetime.now()

datetime.datetime(2022, 6, 17, 23, 14, 59, 520777)

덧셈을 1억번 수행하는데 몇 초가 걸리는지 한번 체크

In [6]:
import timeit
 
start_time = timeit.default_timer() # 시작 시간 체크
 
sum = 0
 
for i in range(100000000):
    sum += i
    
terminate_time = timeit.default_timer() # 종료 시간 체크  
 
print("%f초 걸렸습니다." % (terminate_time - start_time))

13.237197초 걸렸습니다.

# 파이썬 객체지향 프로그래밍

## 객체

In [7]:
h = 10
v = 20


def area(h, v):
    return h * v


a = area(h, v)
print(a)

200

In [8]:
class Rectangle(object):

    def __init__(self, h, v):
        self.h = h
        self.v = v

    def area(self):
        return self.h * self.v

이 부분은 클래스(class) 구현이라고 한다. 실제로 길이 변수들을 저장하고 면적을 계산하는 코드는 다음과 같다.

In [9]:
r = Rectangle(10, 20)
a = r.area()
print(a)

200

In [10]:
r.h

10

In [11]:
r.v

20

In [12]:
r.area()

200

## 클래스

예를 들어 위에서 만들어 놓은 `Rectangle` 클래스로 다음과 같이 5개의 사각형을 만들 수도 있다.

In [13]:
a = Rectangle(1, 1)   # 가로 1, 세로 1인 사각형
b = Rectangle(2, 1)   # 가로 2, 세로 1인 사각형
c = Rectangle(4, 2)   # 가로 4, 세로 2인 사각형
d = Rectangle(6, 3)   # 가로 6, 세로 3인 사각형
e = Rectangle(8, 5)   # 가로 8, 세로 5인 사각형

이 사각형들의 면적은 다음과 같이 계산한다.

In [14]:
print(a.area())
print(b.area())
print(c.area())
print(d.area())
print(e.area())

1
2
8
18
40

## 생성자

In [15]:
class Counter:
    def __init__(self) :
        self.count = 0
    def reset(self) :
        self.count = 0
    def increment(self):
        self.count += 1
    def get(self):
        return self.count

##메서드

In [16]:
class Television:
	def __init__(self, channel, volume, on):
		self.channel = channel
		self.volume = volume
		self.on = on

	def show(self):
		print(self.channel, self.volume, self.on)

	def setChannel(self, channel):
		self.channel = channel

	def getChannel(self):
		return self.channel

In [17]:
t = Television(9, 10, True)

t.show()
t.setChannel(11)
t.show()

9 10 True
11 10 True

## 접근자와 설정자

In [18]:
class Student:
	def __init__(self, name=None, age=0):
		self.__name = name
		self.__age = age

	def getAge(self):
		return self.__age

	def getName(self):
		return self.__name

	def setAge(self, age):
		self.__age=age

	def setName(self, name):
		self.__name=name

obj=Student("Hong", 20)
obj.getName()

'Hong'

Quiz

In [19]:
import math
class Circle:
	def __init__(self, radius=1.0):
		self.__radius = radius

	def setRadius(self, r):
		self.__radius = r

	def getRadius(self):
		return self.__radius

	def calcArea(self):
		area = math.pi*self.__radius*self.__radius
		return area
	def calcCircum(self):
		circumference = 2.0*math.pi*self.__radius
		return circumference

c1=Circle(10)
print("원의 반지름=", c1.getRadius())
print("원의 넓이=", c1.calcArea())
print("원의 둘레=", c1.calcCircum())

원의 반지름= 10
원의 넓이= 314.1592653589793
원의 둘레= 62.83185307179586

## 재난지원금

In [20]:
class 재난지원금(object):

    def __init__(self):
        self.life = 1000

    def 지출(self):
        self.life -= 10
        print("지출! =", self.life)

이 클래스로 `a`, `b`, `c` 세 개의 객체를 생성한다.

In [21]:
a = 재난지원금()
b = 재난지원금()
c = 재난지원금()

모든 객체의 초기 life 속성값은 모두 1000이다.

In [22]:
a.life, b.life, c.life

(1000, 1000, 1000)

하지만 지출!을 하면 지원금은 감소된다.

In [23]:
a.지출()

지출! = 990

In [24]:
b.지출()

지출! = 990

In [25]:
a.지출()
a.지출()
a.지출()
a.지출()
a.지출()

지출! = 980
지출! = 970
지출! = 960
지출! = 950
지출! = 940

In [26]:
a.life, b.life, c.life

(940, 990, 1000)

####try-except

In [ ]:
def getMean(numericValues):
  return sum(numericValues)/len(numericValues)
  
my_list2 = [ ]

try:
  print("Output #138: {}".format(getMean(my_list2)))
except ZeroDivisionError as detail:
  print("Output #138 (Error): {}".format(float('nan')))
  print("Output #138 (Error): {}".format(detail))

Output #138 (Error): nan
Output #138 (Error): division by zero